.payment-deadlines-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', sans-serif;
  max-width: 800px;
  margin: auto;
  margin-top: 175px;
  margin-bottom: 250px;

  .title {
    font-size: 24px;
    font-weight: bold;
    color: #2C3E50;
    text-align: center;
    margin-bottom: 15px;
  }
  .payment-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    thead {
      background-color: #5380e1da;
      color: #e9dcdc;
      text-transform: uppercase;
    }
    th, td {
      padding: 12px 15px;
      text-align: left;
      border-bottom: 1px solid #1d1c1c;
    }
    th {
      font-weight: bold;
    }
    tbody tr:nth-child(even) {
      background-color: #F5F5F5;
    }
    tbody tr:hover {
      background-color: #d0ecf7;
    }
    .description-col {
      width: 60%;
    }
    .condition-col {
      width: 40%;
      color: #ffffff;
      font-weight: bold;
      text-align: right;
    }
  }
}






