<div class="payment-deadlines-container">
  
  <h2 class="title">Afatet e Pagesave</h2>
  <table class="payment-table">
    <thead>
      <tr>
        <th class="description-col">Përshkrimi</th>
        <th class="condition-col">Kushti</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Tatimi mbi Fitimin</td>
        <td>Kushti: 31 mars</td>
      </tr>
      <tr>
        <td>TVSH</td>
        <td>Kushti: Cdo 3 muaj</td>
      </tr>
      <tr>
        <td>Kontributet Sociale</td>
        <td>Kushti: Cdo muaj pas ditës së 20-të të muajit të ardhshëm</td>
      </tr>
      <tr>
        <td>Taksat lokale</td>
        <td>Kushti: Cdo vit deri më 31 mars</td>
      </tr>
      <tr>
        <td>Tatimi mbi pagat</td>
        <td>Kushti: Cdo muaj pas ditës së 20-të të muajit të ardhshëm</td>
      </tr>
    </tbody>
  </table>
</div>