body {
  font-family: 'Roboto', sans-serif;
  background-color: #F5F5F5;
  color: #ffffff;
  margin: 0;
  padding: 0;
}


.navbar {
  background-color: #3b5670;
  padding: 10px 20px;
}


.navbar-brand {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  display: flex;
  align-items: center;
}

.navbar-brand i {
  font-size: 28px;
  color: #FFFFFF;
  margin-right: 8px;
}

.dropdown-toggle {
  color: #FFFFFF;
  background-color: #1f7fda;
  border: 1px solid #093157;
  padding: 5px 12px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}


.dropdown-toggle:hover {
  background-color: #2a93da;
  color: #FFFFFF;
}


.dropdown-item {
  color: #2d577e;
}

.dropdown-item:hover {
  background-color: #3498DB;
  color: #FFFFFF;
}


.navbar-toggler {
  background-color: transparent;
  border: 2px solid #FFFFFF;
  border-radius: 8px;
  padding: 8px 10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}


.navbar-toggler:hover {
  background-color: #3498DB;
  transform: scale(1.1);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}


.navbar-toggler-icon {
  background-color: #3498DB;
  width: 30px;
  height: 3px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}


.navbar-toggler-icon:hover {
  background-color: #3498DB;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-toggler.ml-3 {
  margin-left: 12px;
}

/* Menu Links */
.navbar-nav .nav-link {
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  padding: 10px 15px;
  text-transform: uppercase;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #FFFFFF;
  background-color: #3498DB;

}



@media (max-width: 768px) {
  .navbar-brand {
    font-size: 20px;

  }

  .navbar-logo {
    width: 40px; /* Rregullon gjerësinë e imazhit */
    height: auto; /* Ruajtja e proporcionalitetit të imazhit */
    border-radius: 50%; /* Bën që imazhi të jetë i rrumbullakosur */
    transition: transform 0.3s ease; /* Efekti i kalimit */
  }
  
  .navbar-logo:hover {
    transform: scale(1.1); /* Rrit madhësinë e imazhit kur kaloni me maus mbi të */
  }
}