<header class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container d-flex justify-content-between align-items-center">
        
        <div class="d-flex align-items-center">
          <i>
        <img src="">
      </i> 
          <span class="secondary-color">Tax Calculator</span>
        </div>
  

        <div class="d-flex align-items-center">
         
          <div class="dropdown">
            <button class="btn btn-light dropdown-toggle" type="button" id="languageDropdown" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="mr-2" *ngIf="language === 'en'">English</span>
              <span *ngIf="language === 'sq'">Shqip</span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="languageDropdown">
              <li><a style="color: aliceblue;" class="dropdown-item" href="#" (click)="setLanguage('en')">English</a></li>
              <li><a style="color: aliceblue;" class="dropdown-item" href="#" (click)="setLanguage('sq')">Shqip</a></li>
            </ul>
          </div>
          <button class="navbar-toggler ml-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">MENU</span>
          </button>
          
        </div>
      </div>
    </nav>
  </header>
  