<h1>Business Financial Tracker</h1>
<div class="main">
<div class="container">
    
    <div *ngIf="currentMonthIndex < months.length" class="input-section">
      <h2>Enter data for {{ months[currentMonthIndex] }}</h2>
      <div class="form-group">
        <label for="income">Income ($):</label>
        <input 
          type="number" 
          id="income" 
          [(ngModel)]="currentIncome" 
          placeholder="Enter income amount">
      </div>
      
      <div class="form-group">
        <label for="expense">Expense ($):</label>
        <input 
          type="number" 
          id="expense" 
          [(ngModel)]="currentExpense" 
          placeholder="Enter expense amount">
      </div>
      
      <button (click)="saveMonthData()">Save</button>
    </div>



  <div *ngIf="currentMonthIndex >= months.length" class="results-section">
    <h2>Yearly Financial Summary</h2>
    <app-chart [data]="yearlyData"></app-chart>
  </div>

</div>


<div class="image-section">
    <img src="https://www.finsafe.in/expensecalc/assets/header.jpg" alt="Money image" class="money-image">
  </div>

</div>

  